@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --fontT: 'Bebas Neue', sans-serif;
    --fontP: 'Quicksand', sans-serif;
}


header {
    background-color: #FFDEF3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
}

header .logoDiv {
    height: 6rem;
    width: 6rem;
    /* background-image: url(logo.jpg); */
    background-image: url(logoo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 52%;
}

header .header-left {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;

}

header .header-left nav {
    margin-left: 50px;
    padding-right: 4rem;
}

header .header-left nav ul {
    display: flex;
    list-style: none;
    gap: 4rem;
}

header ul li {
    position: relative;
}

header ul li::after {
    content: '';
    height: 2px;
    width: 0;
    background-color: rgb(153, 50, 204);
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: 1s;

}

nav ul li:hover::after {
    content: '';
    width: 100%;
}

header nav ul a {
    display: block;
    font-family: var(--fontT);
    font-size: 1.3rem;
    color: #000000;

}



header .header-right .hamburger {
    margin-left: 20px;
    cursor: pointer;
    display: none;
}

header .header-right .hamburger div {
    width: 22px;
    height: 2px;
    margin: 4px 0;
    background: #0e0e0e;
}

nav ul li a:hover {
    color: #161616;
}

/* END HEADER */


/* MAIN */

.conteiner {


    background-color: #ffe9f7;
    padding: 2rem;

    /* text-align: center; */
}

.conteiner .title {
    font-family: var(--fontT);
    text-align: center;
    font-size: 2.4rem;
    padding: 1rem;
    letter-spacing: 2px;
    color: #111111;
}

.hr {
    width: 50%;
    color: rgb(153, 50, 204);
    margin: 0 auto;
}

.conteinerProd {
    /* background-color: #f8a3d9; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #ee9ca7; */
    padding: 2rem;
    gap: 2rem;
    /* background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);
    background: linear-gradient(to right, #ffdde1, #ee9ca7); */

    background: #42275a;

    background: -webkit-linear-gradient(to right, #734b6d, #42275a);

    background: linear-gradient(to right, #734b6d, #42275a);
}


.conteinerProd .article {
    /* background-color: rgb(203, 255, 238); */
    display: flex;
    flex-direction: column;
    width: max-content;
    box-shadow: 0px 0px 10px 0px #ffffff36;
    border-top-right-radius: .6rem;
    border-top-left-radius: .6rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.conteinerProd .article .imgProduct1 {
    /* background-color: yellow; */
    width: 18rem;
    height: 20rem;
    background-image: url(blue.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border-top-right-radius: .6rem;
    border-top-left-radius: .6rem;
}

.conteinerProd .article .imgProduct2 {
    /* background-color: yellow; */
    width: 18rem;
    height: 20rem;
    background-image: url(red.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border-top-right-radius: .6rem;
    border-top-left-radius: .6rem;
}

.conteinerProd .article .divflex {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: .1rem solid #42275a;
    border-top: none;
    background: #6441A5;
    background: -webkit-linear-gradient(to bottom, #2a0845, #4a258f);
    background: linear-gradient(to bottom, #2a0845, #4a258f);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.conteinerProd hr {
    color: #ffe9f7;
    margin: .4rem 0;
}

.conteinerProd .article .divFlexC {
    display: flex;
    justify-content: space-between;
}

.conteinerProd .article .divflex h3 {
    font-family: var(--fontT);
    letter-spacing: 2px;
    padding: .2rem 0;
    color: #ffe9f7;
}

.conteinerProd .article .divflex p {
    font-family: var(--fontP);
    font-weight: 900;
    color: #ffe9f7;
}

.conteinerProd .article .btn-buy {
    color: #161616;
    margin-top: 1.4rem;
    padding: .4rem 1.4rem;
    background-color: #FFDEF3;
    width: max-content;
    text-transform: uppercase;
    font-family: var(--fontP);
    font-weight: 600;

}















































/* END MAIN */





























@media only screen and (max-width: 1000px) {

    /* MEDIA HEADER */

    header .header-right .hamburger {
        display: block;
        margin: 2rem;
    }

    header .header-left nav {
        position: absolute;
        margin: 0;
        left: 0;
        top: -100%;
        width: 100%;
        height: 30%;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-bottom-right-radius: 18px;
        border-bottom-left-radius: 18px;
        background-color: #FFDEF3;
        padding: 0;
    }

    header .header-left nav.active {
        top: 123px;
    }

    header ul li {
        margin: 1.6rem;
    }

    header .header-left nav ul {
        display: block;


    }

    header nav ul a {
        font-size: 1.2rem;
    }

    /* END MEDIA HEADER */

    /* PRODUCTS MEDIA */

    .conteinerProd {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }




}